<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dataBase.dao.IDiagnostDAO">
    <resultMap id="result" autoMapping="false" type="com.solvd.dataBase.classes.Diagnosts">
        <result property="idDiagnosts" column="idDiagnosts"/>
        <result property="name" column="name"/>
        <result property="firstName" column="firstName"/>
        <result property="telefonNumber" column="telefonNumber"/>
    </resultMap>
    <select id="getEntityById" parameterType="Integer" resultMap="result">
        select *
        from diagnosts
        where idDiagnosts = #{idDiagnosts}
    </select>
    <insert id="saveEntity" parameterType="com.solvd.dataBase.classes.Diagnosts" useGeneratedKeys="true" keyProperty="idDiagnosts"
            timeout="20">
        insert into diagnosts (idDiagnosts, name, firstName, telefonNumber)
        values (#{idDiagnosts}, #{name}, #{firstName}, #{telefonNumber})
    </insert>
    <update id="updateEntity" parameterType="com.solvd.dataBase.classes.Diagnosts">
        update diagnosts
        set name = #{name},
            firstName = #{firstName},
            telefonNumber = #{telefonNumber},
            where idDiagnosts = #{idDiagnosts}
    </update>
    <delete id="removeEntity">
        delete
        from diagnosts
        where idDiagnosts = #{idDiagnosts}
    </delete>
    <select id="getAllAdmins" resultMap="result">select * from diagnosts</select>
</mapper>