<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dataBase.dao.IGarageDAO">
    <resultMap id="result" autoMapping="false" type="com.solvd.dataBase.classes.Garages">
        <result property="idGarage" column="idGarage"/>
        <result property="adress" column="adress"/>
        <result property="maxWorkers" column="maxWorkers"/>
    </resultMap>
    <select id="getEntityById" parameterType="Integer" resultMap="result">
        select *
        from garages
        where idGarage = #{idGarage}
    </select>
    <insert id="saveEntity" parameterType="com.solvd.dataBase.classes.Garages" useGeneratedKeys="true" keyProperty="idGarage"
            timeout="20">
        insert into garages (idGarage, adress, maxWorkers)
        values (#{idGarage}, #{adress}, #{maxWorkers})
    </insert>
    <update id="updateEntity" parameterType="com.solvd.dataBase.classes.Garages">
        update garages
        set adress = #{adress},
            maxWorkers = #{maxWorkers},
            where idGarage = #{idGarage}
    </update>
    <delete id="removeEntity">
        delete
        from garages
        where idGarage = #{idGarage}
    </delete>
    <select id="getAllGarages" resultMap="result">select * from garages</select>
</mapper>